[package]
name = "dars-macros"
version = "0.1.0"
edition = "2024"
publish = true

[lib]
proc-macro = true

[dependencies]
proc-macro2 = { version = "1.0" }
syn = { version = "2.0", features = ["full"] }
quote = { version = "1.0" }
